<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [19]:
# (1) Write a Python program to count the number of characters in a string. (5 points)
# Sample String : 'google.com', 
# Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

def count(str):
    dict={}
    for X in str:
        keys=dict.keys()
        if X in keys:
            dict[X]+=1
        else:
            dict[X]=1
    return dict
print(count('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [20]:
# (2) Write a Python program to sum all the items in a list. (5 points)

list = [8, 6, 4, 12, 9] 
sum=0;
for ele in range(0, len(list)):
    sum = sum + list[ele]
    print("sum of ele in list: ", sum)

sum of ele in list:  8
sum of ele in list:  14
sum of ele in list:  18
sum of ele in list:  30
sum of ele in list:  39

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [1]:
# (3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)
# Sample String : 'restart', 
# Expected Result : 'resta\$t'


newstr = input("input new string")
first_element1 = newstr[0]
empty_str1 = first_element1

for elements in range(1,len(newstr)):
    
    if(newstr[elements] == first_element1):
        empty_str1 = empty_str1+"$"
    else:
        empty_str1 = empty_str1 + newstr[elements]

print("Final String : "+empty_str1)

Final String : resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [ ]:

#(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 
# $\ S=3.14*(1+a/b)^3$ (5 points)

import math

a = int(input("Enter First Parameter"))
b = int(input("Enter Second Parameter"))
print(math.pow(16, 4))
rem = a/b
pow = 1+math.pow(rem,4)
X = 3.14*(pow)

print("X value is :",X)

65536.0
X value is : 3.152265625

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# (5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)
# Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}


sample_dict1 = {2:16, 5:625}
sample_dict2 = {4:256, 3:81}
sample_dict3 = {6:1296, 8:4096}
sample_dict4 = {}
for d in (sample_dict1, sample_dict2, sample_dict3): sample_dict4.update(d)
print(sample_dict4)

{2: 16, 5: 625, 4: 256, 3: 81, 6: 1296, 8: 4096}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:

# (6) Write a Python program to check whether an element exists within a tuple.

tuple_elements = ("s", "u", "n", 5 , "f", "l", "o", 1 ,"w", "e", "r",  )
print("w" in tuple_elements)
print(1 in tuple_elements)

True
True

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
# (7) Write a Python program to find maximum and the minimum value in a set. (5 points)

x = {142, 365, 88, 921, 590}
print("Mininum value in a set:")
print(min(x))
print("Maximum value in a set:")
print(max(x))# (6) Write a Python program to check whether an element exists within a tuple.

Mininum value in a set:
88
Maximum value in a set:
921

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random
 
def team(x, y):
    for n in range(0, len(x), y):
        yield x[n:n + y]

team_members = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386','ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814','av0659','nv0234','hy0232']
random.shuffle(team_members)
x = list(team(team_members, 4))
print(x)

[['sm1907', 'sb1357', 'bg0320', 'vb0218', 'sc1229'], ['sa1198', 'kg0569', 'sm1640', 'pr0353', 'vm0377'], ['sk1386', 'dr0609', 'sk1313', 'ak0956', 'kg0470'], ['fh0141', 'ms1500', 'gn0108', 'av0659', 'jl1252'], ['nm0618', 'sk1390', 'aos0040', 'hy0232', 'sk1458'], ['nv0234', 'ja0964', 'ds0814', 'ak0934', 'sg1297']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [ ]:
# (9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)


def y_duplicate(num):
    num_set = set()
    no_duplicate = -1
    for x in range(len(num)):
        if num[x] in num_set:
            return num[x]
        else:
            num_set.add(num[x])
            
    return no_duplicate

print(y_duplicate([8, 14, 2, 14, 11, 14]))
print(y_duplicate([9, 6, 4, 9, 10]))
print(y_duplicate([3, 15, 7, 3, 5]))

14
9
3

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
# (10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

from datetime import date, timedelta

def wholeyear_sundays(specific_year):

       dt = date(specific_year, 1, 1)
       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == specific_year:
          yield dt
          dt += timedelta(days = 7)
          
for x in wholeyear_sundays(2021):
   print(x)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26